/** @format */

@font-face {
  font-family: 'Posterama2001';
  src: url('/fonts/Posterama 2001 W04 Bold.woff') format('woff');
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1d1010;
  overflow-x: hidden;
}

body {
  font-family: inherit;
}
:root {
  /* Colors */

  --primary: #f58a1f;
  --primarydark: #d46b08;
  --secondary: #df138a;

  --light: #f2efe7;
  --dark: #1d1010;

  --card: #3f3f3f;
  --border: #352020;

  --text: #f2efe7;
  --text-muted: rgba(242, 239, 231, 0.8);

  /* Glows */
  --glow-primary: #ffd700;
  --glow-secondary: #ff69b4;

  /* Fonts */

  --font-heading: 'Posterama2001';
  --font-subtitle: 'Chillax', sans-serif;
  --font-body: 'Clash Display', sans-serif;
}

/* ===================================
   Hero Typography
=================================== */

.hero-name {
  font-family: var(--font-heading);
  color: var(--light);

  text-shadow:
    0 0 20px var(--glow-light),
    0 0 40px rgba(242, 239, 231, 0.04);
}

.hero-role {
  font-family: var(--font-subtitle);
  color: var(--primary);

  text-shadow: 0 0 20px var(--glow-primary);
}

.hero-body {
  font-family: var(--font-body);
  color: var(--text-muted);
}

/* ===================================
   Utilities
=================================== */

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-light {
  color: var(--light);
}

.bg-dark {
  background: var(--dark);
}
